
.logo{
    background-color: #000000;
    font-size: 45px;
    color: white;
    
}
#producto{
    background-color:#5a3ca6;
}

.colorbarra{
    font-size: 30px;
    margin:10px;
}

.carousel-indicators li{
    height: 20px;
    width: 15px;
    border-radius: 0%;
    border: 2px solid #4b0ac3;

}

footer i{
    font-size: 35px;

}

.marginIcon{
    font-size: 26px;
    color: white;
    background-color: #000000;
}

.logoverde{
    color: #3d81e0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}